[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
[submodule "third-party/coveralls-cmake"]
	path = third-party/coveralls-cmake
	url = git@github.com:JoakimSoderberg/coveralls-cmake.git
